.blog-post-preview {
  @extend .card;

  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;

  &__image {
    @extend .card-image;
    height: 200px;
    img {
      height: 200px !important;
    }
  }

  &__content {
    @extend .card-content;
    background-color: transparent;
    padding: 1.5rem;
  }

  &__link {
    font-weight: bold;
    color: #4a4a4a;
  }

  &__date {
    @extend small;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__excerpt {
    font-weight: 200;
  }

  &__footer {
    &__button {
      @extend .button;
      background-color: #4a4a4a;
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}
