.landing-page {
  position: relative;
  height: 100%;
  width: 100%;

  @include respond-below(sm) {
    background-color: rgba(255, 255, 255, 0.49);
  }


  &__content {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    &__thinking-bubble {
      background-color: white;
      height: 150px;
      margin-bottom: 30px;
      width: 45%;
      border: 1.5px solid #1d3557;
      border-radius: 30px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      @include respond-below(sm) {
        & {
          height: 100px;
          width: 80%;
        }
      }

      &__text {
        @extend .is-size-3-desktop;
        @extend .is-size-4-tablet;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #e63946;
        transition: ease-in-out 0.3s;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #1d3557;
        border-bottom: 0;
        margin-left: -20px;
        margin-bottom: -20px;
      }
    }

    &__working-image {
      max-width: 350px;
      width: 30%;
      display: flex;
      margin-left: auto;
      margin-right: auto;

      @include respond-below(md) {
        & {
          width: 40%;
        }
      }

      @include respond-below(sm) {
        & {
          width: 60%;
          margin-bottom: 0;
        }
      }

    }
  }
}
